:root {
    --orange: #FF872C;
    --white: #DCDCE5;
    --sm: 24px;
}


.contenedor-nota {
    background-color: var(--white);

}

.editar-nota {

    background-color: var(--white);
    color: var(--orange);

}

.editar-nota textarea {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: var(--sm);
    text-align: center;

}

.nota {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: var(--sm);

}
.boton{
    width: 1.25rem;
height: 1.25rem;
}


button:hover {
    background-color: var(--white);
    color: var(--orange);
}